.font-heading-hero {
  font-family: "Open round heading";
  color: rgb(77 147 172);
}

.heading-text {
  font-family: "Playfair Display", serif;
  font-size: 20px !important;
  color: rgb(109, 106, 106);
  line-height: 1.3em;
  margin-top: 20px;
}

.studio-image {
  width: 400px !important;
  height: 400px !important;
  border-radius: 20px;
}

.text-color {
  color: rgb(77 147 172);
}

.custom-btn {
  border: 2px solid rgb(109, 106, 106) !important;
}

@media (min-width: 767px) {
  .heading-text {
    font-family: "Playfair Display", serif;
    font-size: 30px;
    color: rgb(72, 70, 70);
    line-height: 1.3em;
    margin-top: 20px;
  }
}
