.doctor-image {
  margin-top: 40px;
  width: 100%;
  height: 100vh;
}

.font {
  font-family: "Playfair Display", serif;
  font-size: 15px;
  color: rgb(72, 70, 70);
  line-height: 2em;
}

.font-heading {
  font-family: "Playfair Display", serif;
  letter-spacing: 3px;
  color: black;
  line-height: 1.2em;
  font-size: 45px;
}

.vertical-divider {
  width: 60px;
  height: 1px;
  background-color: #000;
  margin: 1rem auto;
  opacity: 0.5; /* opzionale, per un look più delicato */
}

@media (max-width: 767px) {
  .doctor-image {
    width: 100%;
    height: 70vh;
  }
}
