.navigation-container {
  background-color: transparent;
}

.text-color {
  color: white !important;
}

.custom-btn {
  border-color: rgb(77 147 172) !important;
}

.logo {
  width: 130px;
  height: 130px;
  color: black;
}

.blur-background::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 50vh;
  backdrop-filter: blur(2px);
  background: rgba(0, 0, 0, 0.4);
  z-index: 5;
}

/* Navbar sempre sopra il blur */
.navigation-container {
  position: relative;
  z-index: 10;
}
