.not-found-logo {
  width: 500px;
  animation: bounce 2s infinite alternate;
}

.not-found-heading {
  color: rgb(77, 147, 172);
  padding: 10px;
}

.redirect-btn {
  padding: 5px;
  margin-top: 10px;
  background-color: transparent;
  border-radius: 5px;
}

@keyframes bounce {
  0% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}

@media (max-width: 767px) {
  .not-found-logo {
    width: 100%;
    max-width: 100%;
    height: auto;
  }

  .not-found-heading {
    text-align: center;
  }
}
