* {
  font-family: "Playfair Display", serif;
}
.custom-container {
  height: 100%;
}

.img-custom {
  display: block;
  margin: 0 auto;
  width: 95% !important;
  max-width: 600px; /* o quello che vuoi come limite */
  height: auto;
  object-fit: cover;
  border-radius: 12px; /* opzionale, estetico */
}

.video-custom {
  height: 75vh;
  border-radius: 5px !important;
}

.text-lettino {
  font-size: 20px;
}

@media (max-width: 767px) {
  .img-custom {
    width: 100%;
    max-width: 100%;
    height: auto;
  }
}
