.footer-container {
  background-color: rgb(77 147 172);
}

.footer-divider {
  width: 60px;
  height: 1px;
  background-color: white;
  margin: 1rem auto;
  opacity: 0.5; /* opzionale, per un look più delicato */
}
